@import 'normalize.css';

:root {
    --primary-color: 22 24 35;
    --primary-03: rgba(var(--primary-color) / 0.03);
    --primary-06: rgba(var(--primary-color) / 0.06);
    --primary-12: rgba(var(--primary-color) / 0.12);
    --primary-20: rgba(var(--primary-color) / 0.2);
    --primary-34: rgba(var(--primary-color) / 0.34);
    --primary-50: rgba(var(--primary-color) / 0.5);
    --primary-75: rgba(var(--primary-color) / 0.75);

    --accent-color: rgb(254, 44, 85);
    --black: #000;
    --white: #fff;

    //fonts
    --font-body: 'ProximaNova', sans-serif;
    --font-text: 'SofiaPro';

    // Defaut Layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    overflow-y: overlay;
}

// Custom Scrollbar
html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--primary-06);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--primary-06);
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

body {
    font-family: var(--font-body);
    font-size: 14px;
    line-height: 1.5;
    min-height: 100vh;
    color: rgba(var(--primary-color) / 1);
    background-color: var(--white);
    text-rendering: optimizeSpeed;
}

input,
button,
[tabindex] {
    border: none;
    outline: none;
    font: inherit;
}

a[href] {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

// Fonts embedded
@font-face {
    font-family: 'ProximaNova';
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/assets/fonts/Proxima-Nova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/assets/fonts/Proxima-Nova-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'SofiaPro';
    src: url('/assets/fonts/sofiapro-regular.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'SofiaPro';
    src: url('/assets/fonts/sofiapro-bold.woff2');
    font-weight: 700;
}
