@import 'normalize.css';

:root {
    --primary-color: 22 24 35;
    --accent-color: rgb(254, 44, 85);
    --black: #000;
    --white: #fff;

    // Defaut Layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    min-height: 100vh;
    color: rgba(var(--primary-color) / 1);
    background-color: var(--white);
    text-rendering: optimizeSpeed;
}

.container {
    width: var(--default-layout-width, 1150px);
    margin-inline: auto;
}

input,
button,
[tabindex] {
    border: none;
    outline: none;
    font: inherit;
}

a[href] {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}
