@import 'normalize.css';

:root {
    --primary-color: #fe2c55;

    // Defaut Layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

.container {
    width: var(--default-layout-width, 1150px);
    margin-inline: auto;
}
