.menu-wrapper {
    min-width: 223px;

    & .menu-list {
        max-height: 590px;
        overflow-y: auto;
    }

    & .menu-item {
        padding: 10px 8px 10px 16px;
        display: flex;
        justify-content: space-between;

        &:hover {
            background: var(--primary-03);
        }
    }

    & .menu-content {
        width: 100%;
        padding: 0;
        min-height: auto;
        background: #0000;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

// Menu Header
.menu-header {
    min-width: 223px;
    height: 50px;
    margin-top: -8px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    & ~ .menu-item {
        padding: 10px 24px;
        font-family: var(--font-text);
    }

    & ~ .menu-item .menu-content {
        font-weight: var(--fw-400);
        font-size: 14px;
        line-height: 20px;
    }
}

.back-button {
    font-size: 0px;

    & svg {
        display: block;
        width: 20px;
        height: 20px;
        margin-left: 28px;
    }
}

.header-content {
    text-transform: capitalize;
    font-weight: var(--fw-600);
    font-size: 16px;
    line-height: 22px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
