.action-container {
    display: flex;
    flex-direction: column;
}

.button-action {
    border: none;
    outline: none;
    background: none;
    padding: 0px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    font-size: 0;
    border-radius: 50%;
    transition: all 200ms ease-in-out 0s;
    background-color: var(--primary-06);
    margin-block: 8px 6px;
    color: rgba(var(--primary-color) / 1);
}

.strong-text {
    color: var(--primary-75);
    font-size: 12px;
    line-height: 17px;
    text-align: center;
}
